header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    background: #022B3A;
    color: #E1E5F2;

    box-shadow: 0px 0px 9px 0px #666;
}

.header__title {
    margin: 10px 20px;
    font-size: 26px;
    font-family: 'Zen Dots', 'Ubuntu', sans-serif;
}

.header-right {
    display: flex;
}

.navbar {
    display: flex;
    justify-items: space-between;

    width: 100%;
}

.navitem {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    padding: 2px;
    background: linear-gradient(#e1e5f2, #e1e5f2);
    transition: 200ms ease;
}

.navitem:hover {
    background: linear-gradient(#e1e5f2, #bfdbf7);
    text-decoration: none;
}
