header {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;

    background: #022B3A;
    color: #E1E5F2;

    box-shadow: 0px 0px 9px 0px #666;
}

.header__title {
    margin: 10px 20px;
    font-size: 26px;
    font-family: 'Zen Dots', 'Ubuntu', sans-serif;
}
